## Python Basics

#### Q1 - Find the area of circle of radius 5cm

In [ ]:
import math as M
Radius = 5
area = M.pi* float(Radius) * float(Radius)  
print ("The area of the given circle is: {:.2f} cm^2. ". format(area))

#### Q2 -
x = True<br>
y = False

<br>
i )  - What will be x and y<br>
ii)  - What will be x or y<br>
iii) - What will be not x

i ) - x and y will return "False" <br>
ii) - x or y will return "True" <br>
iii) - not x will return "False"

#### Q3 - Input a list using input() and range() function and print the list.

In [ ]:
lst = [ ]
n = int(input("How many elements are in your list? "))

for i in range(0, n):
    ele = [input("Enter the name of your element: "), int(input("Enter your number: "))]
    lst.append(ele)
    
print(lst)

#### Q4 - Write a line of code to use string.format() method to format the following 2 variables as per the expected output

totalMoney = 1000 <br>
quantity = 2<br><br>

"I will buy 2 cars using $1000k savings."

In [ ]:
totalMoney = 1000
quantity = 2
print("I will buy {} cars using ${}k savings.".format(quantity, totalMoney))

#### Q4 - Write a code to create a new string made of the first characters of each word of input string.
string_1 = 'Thor is the best avenger'

Example <br>

Input String =  'Northeastern is one of the best university in USA'<br>
Output = 'NIOOTBUIU'

In [ ]:
string_1 = 'Thor is the best avenger'

newStr=""
for s in string_1.split():
    newStr = newStr + s[0]
print(newStr.upper())

#### Q5 - Convert the value of txt to upper case.
txt = 'hello jason'

In [ ]:
txt = 'hello jason'
print(txt.upper())

#### Q6 - Replace the character H with a J.

txt = 'Hello Jason'

In [ ]:
txt = 'Hello Jason'
newTxt = txt.replace("H", "J")
print(newTxt)

#### Q7 - Concatenate the below variables

a = 'Hi, I am Mark' <br>
b =  'My age is'<br>
c = 8<br>
d = 'years'<br>

In [4]:
a = 'Hi, I am Mark'
b = 'My age is'
c = 8
d = 'years'

res = a + ". " + b + " " + str(c) + " " + d + "."
print(res)

Hi, I am Mark. My age is 8 years.

#### Q8 Add the below 2 variables 

a = 123 <br>
b = "456"

In [ ]:
a = 123
b = "456"

# not sure which one does professor look for, string concatenate or number plus?
# can both concatenate in string, or simple math plus. Anyway, I print both results.
res1 = str(a) + b
print(res1)

res2 = a + int(b)
print(res2)

#### Q9 <br>
x3 = [1,2,3] <br>
y3 = [1,2,3]<br>

Why <br>x3 is y3 False <br> x3 == y3 True <br>
Explain briefly

In [3]:
x3 = [1,2,3]
y3 = [1,2,3]

print(x3 is y3) # False
print(x3 == y3) # True

False
True

- So, in python language, keyword "is" is used to test if two variables refer to the same object.<br>
In this case, x3 and y3 are not the same objects, they both point to the two different locations in memory. <br>
- However, "==" operator in python is used to compare the values of two variables are equal or not. <br> In this case, x3 and y3 both are equal, with same values in list.

#### Q10 -  Write a code to find how many times substring “Harry” appears in the given string. <br>
string_1 = "Harry is good developer. Harry is a writer"

In [2]:
string_1 = "Harry is good developer. Harry is a writer"
substring = 'Harry'
cot = string_1.count(substring)
print(cot)

2