#### Q 1 - Write a code to add item 7000 after 6000 in the following Python List
#### Expected output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [1]:
nums_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
a = nums_list[2][2].append(7000)
print(nums_list)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#### Q 2 - Remove all occurrences of a 20 item from a list.
#### Expected output:
[5, 15, 25, 50]

In [2]:
nums_list2 = [5, 20, 15, 20, 25, 50, 20]

def removeValue(lst, val):
    return [i for i in lst if i != 20]

res = removeValue(nums_list2, 20)
print(res)

[5, 15, 25, 50]

#### Q 3 - Insert 1 at index 2 for list 'A' below.

In [3]:
A = [4, 7, 5]
A.insert(2,1)
print(A)

[4, 7, 1, 5]

#### Q 4 - What is the difference between extend and append function? Explain giving a brief example.

Please see following example about list append and extend. 
- So, "Append" adds an element at the end of the list. The argument passed in the append function is added as a single element at end of the list and the length of the list is increased by 1. "Append" has a constant time complexity of O(1).
- "Extend" adds each element of the iterable (tuple, string, or list) to the end of the list and increases the length of the list by the number of elements of the iterable passed as an argument. "Extend" has a time complexity of O(k) where k is the length of the iterable.

In [4]:
exampleList1 = ["Alfa","Bravo","Charlie","Delta","Echo"]
a = 50
b = [20, 40]
c = "Zebar"

exampleList1.append(b)
print(exampleList1)
exampleList1.append(c)
print(exampleList1)

['Alfa', 'Bravo', 'Charlie', 'Delta', 'Echo', [20, 40]]
['Alfa', 'Bravo', 'Charlie', 'Delta', 'Echo', [20, 40], 'Zebar']

In [5]:
exampleList2 = ["Alfa","Bravo","Charlie","Delta","Echo"]
a = 50
b = [20, 40]
c = "Zebar"

exampleList2.extend(b)
print(exampleList2)
exampleList2.extend(c)
print(exampleList2)

['Alfa', 'Bravo', 'Charlie', 'Delta', 'Echo', 20, 40]
['Alfa', 'Bravo', 'Charlie', 'Delta', 'Echo', 20, 40, 'Z', 'e', 'b', 'a', 'r']

#### Q 5 - Delete the last 2 elements of below list

In [6]:
B = [2, 4, 6, 8, 10, 12]

In [7]:
# method 1
B = [2, 4, 6, 8, 10, 12]
for i in range(2):
    B.pop()
print(B)

[2, 4, 6, 8]

In [8]:
# method 2
B = [2, 4, 6, 8, 10, 12]
res = [B.pop() for _ in range(2)]
print(B)

[2, 4, 6, 8]

In [9]:
# method 3
B = [2, 4, 6, 8, 10, 12]
B = B[:-2]
print(B)

[2, 4, 6, 8]

#### Q - 6 Reverse the below tuple

In [17]:
nums = (10, 20, 30, 40, 50)

# method 1
rev1 = nums[::-1]
print(rev1)

# method 2
rev2 = tuple(reversed(nums))
print(rev2)

(50, 40, 30, 20, 10)
(50, 40, 30, 20, 10)

#### Q - 7 Access value '6' from the tuple

In [18]:
tup = ("Red", [5, 7, 9], (2, 6, 14))

res = tup[2][1]
print(res)

6

#### Q 8 - Unpack the below tuple into 3 variables:

In [19]:
x = "New York", 2022, "Financial Hub"
print(x)
val1, val2, val3 = x
print(val1)
print(val2)
print(val3)

('New York', 2022, 'Financial Hub')
New York
2022
Financial Hub

#### Q 9 - Create a single variable tuple

In [13]:
# add a comma after the item to make a single variable tuple
a = (5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

#### Q 10 - How many times did 99 occured in below tuple

In [14]:
nums_tuple = (10, 20, 99, 30, 99, 40, 60, 100)
cot = nums_tuple.count(99)
print(cot)

2